*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f8ff;
    font-family: 'Courier New', Courier, monospace;
    color: #132C49;
}


.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.principal{
    margin-top: 100px;
}

.boton{
    padding: 30px;
    background-color: aliceblue;
    border-radius: 15px;
    border: 5px solid wheat;
}